//import tw, { styled } from "twin.macro";

export interface {{ pascalCase name }}Props {
  children?: React.ReactNode;
}

const {{ pascalCase name }} = ({ children }: {{ pascalCase name }}Props = {}) => {
  return <p>{children}</p>;
};

export default {{ pascalCase name }};
